<%= form_for(@condition) do |f| %>
  <% if @condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condition.errors.count, "error") %> prohibited this condition from being saved:</h2>

      <ul>
      <% @condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :name, :class => "col-md-2 col-sm-2 control-label" %>
        <div class="col-md-10 col-sm-10">
            <%= f.text_field :name, :class => "form-control"%>
        </div>
    </div>
    <div class="form-group">
      <%= f.label :gold, :class => "col-md-2 col-sm-2 control-label" %>
        <div class="col-md-10 col-sm-10">
          <%= f.text_field :gold, :class => "col-md-10 form-control"%>
        </div>
    </div>
    <div class="form-group">
      <%= f.label :silver, :class => "col-md-2 col-sm-2 control-label" %>
        <div class="col-md-10 col-sm-10">
          <%= f.text_field :silver, :class => "col-md-10 form-control"%>
        </div>
    </div>
    <div class="form-group">
      <%= f.label :bronze, :class => "col-md-2 col-sm-2 control-label" %>
        <div class="col-md-10 col-sm-10">
          <%= f.text_field :bronze, :class => "col-md-10 form-control"%>
        </div>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => "col-md-2 col-sm-2 control-label" %>
        <div class="col-md-10 col-sm-10">
          <%= f.text_field :description, :class => "col-md-10 form-control"%>
        </div>
    </div>
    <div class="form-group">
      <%= f.label :image_name, :class => "col-md-2 col-sm-2 control-label" %>
        <div class="col-md-10 col-sm-10">
          <%= f.text_field :image_name, :class => "col-md-10 form-control"%>
        </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 col-lg-12 pull-right">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
