<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @archivement.user.name %>
</p>

<p>
  <strong>Condition name:</strong>
  <%= @archivement.condition.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @archivement.number %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @archivement.memo %>
</p>

<p>
  <strong>medal:</strong>
  <%= image_tag 'bronze_toeic.png' if @medal.bronze %>
  <%= image_tag 'silver_toeic.png' if @medal.silver %>
  <%= image_tag 'gold_toeic.png' if @medal.gold %>
</p>

<%= link_to 'Edit', edit_archivement_path(@archivement) %> |
<%= link_to 'Back', archivements_path %>
